body {
 background-color: rgb(31, 34, 50);
}
h1{
  color: white;
}
#navigation
{
  background-color: white;
  color:black;
  height:5vw;
  font-size:1em;
}
#navigation h1{
  color:black;
}
b{
  color:#0f7173;
  margin-right:2px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
